/** * {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  /* Corrected font name */
/*}

*/
/*
.f1 {
  width: auto;
  max-width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/back.png);
  background-position: center;
  background-size: cover;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
  overflow: auto;
}*/

/*

.ls h3{

  font-size: 24px;
}

.rs h2{
  font-size: 24px;
}*/


/*
.Logo {
  width: 120px;
  color: #00ff00;
}

*/


/*

.intro {

  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
}



.f1 .content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
}
*/

/*
.card p {
  text-shadow: 0 0 15px #000;
  font-size: 8px;
} */

/*
.card2 h5 {
  color: #000;
  font-size: 15px;
  font-weight: bold;
} */
/*
.card3 h5 {
  color: #00ff00;
  font-size: 15px;
  font-weight: bold;
}



.card1 p {
  color: burlywood;
  font-size: 12px !important;
  padding-top: 5px;
}*/
/*
.card2 p {
  color: white;
  font-size: 12px !important;
  padding-top: 5px;
} */
/*
.card3 p {
  color: white;
  font-size: 12px !important;
  padding-top: 5px;
}*/

/*
p {
  color: rgb(101, 183, 65);
  font-size: 15px;
  line-height: 15px;
  padding-top: 5px;
  font-weight: bolder;

}
*//*
.intro .button1 {
  width: 180px;
  color: #000;
  font-size: 12px;
  padding: 12px 0;
  background: #fff;
  border: 0;
  border-radius: 20px;
  outline: none;
  margin-top: 30px;
}*/
/*
.card {
  width: 200px;
  height: 230px;
  display: inline-flex;
  border-radius: 10px;
  padding: 10px 10px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 15px 0 15px 15px;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
  text-align: center;

}*/
/*
.card1 {
  background-image: url(images/4.jpg);
}

.card3 {

  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/2.jpg);
}
*/
/*
.card2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/a.jpg);
}


.card4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/1.jpg);
}
*//*
.card:hover {
  transform: translate(-10px);
}*/
/*
h5 {
  color: black;
  text-shadow: 0 0 5px #999;
  
}

*/
/*
footer {
  color: white;
  text-align: center;
  background-color: rgb(25, 135, 84);
}

.bg
{
  border: 1px solid black;
  background-color: yellow;
}
*//*
@media (max-width: 767px) {

 
  

}*/

/*புற்கள் கள்ளிகள் 
கற்றாழைகள் நீர் வாழ்
 தாவரங்கள் பூஞ்சைகள் 
 காளான்கள் கன்னி 
 வகைகள் 
 காரை வகைகள் 
 கரந்தை வகைகள் 
 சாரனை வகைகள்
  துளசி வகைகள் 
  தும்பை வகைகள் 
  பூண்டு வகைகள் 
  கிரந்தி வகைகள்
   பிற வகைகள் 
   வென் சாரனை சிவ சக்தி கொடி 
   சீமைச் மேலும் வகையை சேர்க்க 
   */

 
