 /* * {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  /* Corrected font name */
/*} 
*/

*{
  font-family: 'Noto Sans Tamil', sans-serif;

}
.ls h3{

  font-size: 24px;
}

.rs h2{
  font-size: 24px;
}


@media (max-width: 767px) {

 p{
  font-size: 14px;
 }
  

}


