

/**-------------------------------------Header----------------------------------------------**/

.hd {
  background-color: #ffefcf;
}
.cnt{
  background-color: #ffefcf;
}

.header h1 {
  font-size: 30px;
  font-weight: 600;
}

.header h4{
  font-size:20px;
}


@media (max-width: 767px) {


  .header h1 {
      font-size: 20px !important;
      font-weight: 600;
  }

  .header h4{
      font-size: 15px;
  }

}

/**-------------------------------------Heder-End----------------------------------------------**/




/**-------------------------------------Footer----------------------------------------------**/


footer {
  color: white;
  text-align: center;
  background-color: rgb(25, 135, 84);
}

@media (max-width: 767px) {

}



/**-------------------------------------Footer-End----------------------------------------------**/









/**-------------------------------------Home-Index----------------------------------------------**/

/* * {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  /* Corrected font name */
/*} 
*/

*{
  font-family: 'Noto Sans Tamil', sans-serif;

}
.ls h3{

  font-size: 24px;
}

.rs h2{
  font-size: 24px;
}


@media (max-width: 767px) {

 p{
  font-size: 14px;
 }

}

/**-------------------------------------Home-Index-End---------------------------------------------**/


/**-------------------------------------Hreb-type-Index----------------------------------------------**/


/* Your existing CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans Tamil', sans-serif;
}


#main_list, #sub_list, #sub_sub_list{
  list-style-type: none;
}

.side_bar .main_list{
  width: 30%;
  
}


.side_bar .main_list li {

  width: 100%;
  color: green;
  padding: 10px 30px;
  margin-bottom: 5px;
  border-radius: 30px 30px;
  background-color: #f9e1a6;
}

.side_bar .main_list .sub_list li {

  width: 100%;
  color: green;
  padding: 10px 30px;
  margin-bottom: 5px;
  border-radius: 30px 30px;
  background-color: #f9e1a6;
}

.side_bar .main_list .sub_list .sub_sub_list li {
  width: 100%;
  color: green;
  padding: 10px 30px;
  margin-bottom: 5px;
  border-radius: 30px 30px;
  background-color: #f9e1a6;
}

.side_bar .main_list .sub_list{
  display: none;
}


.side_bar .main_list .sub_list .sub_sub_list{
  display: none;
}

.side_bar .main_list li:hover{
  background-color: #ffcc4e;

}

.side_bar .main_list .dropdown:hover >ul{
  display: block;
}



.side_bar .main_list .sub_list .dropdown_two:hover >ul{
  display: block;
}

.side_bar .main_list .lihg{
  background-color: green;
  color: white;
}

.side_bar .main_list .sub_list .lihg{
  background-color: green;
  color: white;
}

.side_bar .main_list .sub_list .sub_sub_list .lihg{
  background-color: green;
  color: white;
}





/* Your existing CSS */

/* Add a media query for mobile devices */
@media (max-width: 768px) {
  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Tiro Tamil', serif;
}

#main_list, #sub_list, #sub_sub_list{
  list-style-type: none;
}

.side_bar .main_list{
  width: 100%;
  
}


.side_bar .main_list .lihg{
  background-color: green;
  color: white;
}

.side_bar .main_list .sub_list .lihg{
  background-color: green;
  color: white;
}

.side_bar .main_list .sub_list .sub_sub_list .lihg{
  background-color: green;
  color: white;
}

.side_bar .main_list li {

  width: 100%;
  color: green;
  padding: 10px 30px;
  margin-bottom: 5px;
  border-radius: 30px 30px;
  background-color: #f9e1a6;
}

.side_bar .main_list .sub_list li {

  width: 100%;
  color: green;
  padding: 10px 30px;
  margin-bottom: 5px;
  border-radius: 30px 30px;
  background-color: #f9e1a6;
}

.side_bar .main_list .sub_list .sub_sub_list li {
  width: 100%;
  color: green;
  padding: 10px 30px;
  margin-bottom: 5px;
  border-radius: 30px 30px;
  background-color: #f9e1a6;
}

.side_bar .main_list .sub_list{
  display: none;
}


.side_bar .main_list .sub_list .sub_sub_list{
  display: none;
}

.side_bar .main_list li:hover{
  background-color: #ffcc4e;;

}

.side_bar .main_list .dropdown:hover >ul{
  display: block;
}



.side_bar .main_list .sub_list .dropdown_two:hover >ul{
  display: block;
}

  
}






/**-------------------------------------Hreb-type-Index-End---------------------------------------------**/




/**-------------------------------------Form---------------------------------------------------------------**/
.clctdata .form-label{
  
    color: green;
  
}
.clctdata .form-text{
  color: green;
}
